    html,
    body,
    p {
        margin: 0;
    }
    /*.container{
    .signIn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Login-box{
    height: 400px;
    width: 400px;
    background-color: blue;
}

/*.login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-evenly;
    text-align: center;
}

.signIn{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
 
    
}*/
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100vw;
        height: 100vh;
    }
    
    #Login {
        background-color: blue;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 30px;
        width: 450px;
        height: 400px;
        /* These are flex settings */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .signIn {
        background-color: lightblue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        border: 0px;
        border-radius: 24px;
        height: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 200px;
    }